/* Header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
header ul li{

}

header ul li a{
    color: white;
    padding: 0.5rem 20px !important;
}
/* tạo line */

header ul li::after{
    content: "";
    display: block;
    height: 2px;  
    background: linear-gradient(to right,#fbbd61,#ec7532);
    width: 0;
    transition:all 0.5s;
}
header ul li.active::after{
    content: "";
    display: block;
    height: 2px;  
    background: linear-gradient(to right,#fbbd61,#ec7532);
    width: 100%;
}

header ul li:hover::after{

    width: 100%;
}

/*carousel  */
#demo .muiten{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 46%;
}
.carousel-item{
    color: white;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: none;
    background-position: center;
    padding-top: 200px;
}

.item_1{
    background-image: url("./../images/hero-1.jpg");
}

.item_2{
    background-image: url("./../images/hero-2.jpg");
}

.item_3{
    background-image: url("./../images/hero-3.jpg");
}


.carousel-item h3{
    font-size: 14px;
    color:#fbbd61;
}


.carousel-item .item__content{
    border: 1px solid white;
    padding: 13px 15px;
    border-radius: 50%;
}

.carousel-item .btnTrailer{
    color: white;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    border-radius: 40px;
    padding: 11px 31px;
    position: relative;
    overflow: hidden;   /* cắt phần dư */
}
.carousel-item .btnTrailer::after{
    content: "";
    display: block;
    background-color:#ec7532;
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: -10%;
    transform: skewX(30deg);
    transition: all 0.5s;
}
.carousel-item .btnTrailer i,.carousel-item .btnTrailer span{
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}
.carousel-item .btnTrailer:hover::after{
    width: 120%;
}

.carousel-indicators li{
    height: 10px;
    border-radius: 50%;
    width: 10px;
    background: transparent;
    border: 1px solid white;
}

.carousel-indicators li.active{
    background-color: white;
}
.carousel-indicators{
    justify-content: flex-start;
}


/* NEW IN */
.newin{
    margin-top: 5rem;
}
.newin .title{
    border-bottom: 1px solid #485448b5;
    color: #ec7532;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}
.newin .title::after{
    content: "";
    display: block;
    width: 14%;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    height: 3px;
    position: absolute;
    bottom: 0;
    
}


.newin .newin__readmore{
    position: relative;
}
.newin .newin__readmore img{
    width: 100%;
    border-radius: 5%;
} 
.newin .newin__readmore__content{
    position: absolute;
    color: white;
    top: 0;
    width:100%;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
    text-align: center;
    z-index: 9;
}

.newin .newin__readmore__content a i{
    color: white ;
    padding: 19px;
    border: solid 1px white;
    border-radius: 50%;
    margin-top: 114px;
    position: relative;
    z-index: 2;
    opacity: 0;
}
.newin .newin__readmore__content__text{
    margin-top: 31px;
    position: relative;
    opacity: 0;
    z-index: 2;
}
.newin .newin__readmore__content::after{
    content: '';
    display: block;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    z-index: 1;
    border-radius: 5%;
    left: -50%;
    bottom: 0;
    transform: skewX(30deg);
    transition: all 0.5s;
    
}

.newin .newin__readmore:hover .newin__readmore__content::after{
    width: 200%;
}

.newin .newin__readmore:hover .newin__readmore__content a i{
    opacity: 1;
}
.newin .newin__readmore:hover .newin__readmore__content__text {
    opacity: 1;
}

.newin h3{
    font-size: 18px;
}
.newin .rating i{
    color: #fbbd61;
}
.newin .rating #ratingdrop{
    color: #d8d8d8;
}

.slick-prev:before, .slick-next:before{
    color:orange !important;
}
.listMovie .slick-dots{
    display: none;
    opacity: 0;
}
/* Time */
.timeschedule{

}
.timeschedule li a{
    color: #4a4a4a;
}
.timeschedule .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fbbd61;
    background:none;
}

/* tạo line */

.timeschedule ul li::after{
    content: "";
    display: block;
    height: 2px;  
    background: linear-gradient(to right,#fbbd61,#ec7532);
    width: 0;
    transition:all 0.5s;
}


.timeschedule ul li:hover::after{

    width: 100%;
}
/* Tab panes in Time */
.tab__content{
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 26px;
    margin: 40px 0;
}
.tab__content .image__content{
    max-width: 100%;
    border-radius: 15px;
}

.tab__content .context__content .time {
    margin-top: 39px;
}

.tab__content .context__content h3{
    font-size: 15px;
    color: #fbbd61;
    letter-spacing: 1px;
}

.tab__content .context__content h2{
    font-size: 20px;
    letter-spacing: 2px;
}

.tab__content .context__content p{
    font-size: 14px;
}
.tab__content .context__content a{
    color: #fbbd61;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    transition: all 0.5s;
}
.tab__content .context__content a:hover{
    color:black;
}


.tab__content .time__content .viewtime{
    padding-top: 6px;
    margin-right: 11px;
}
.tab__content .time__content .viewtime i{
    margin-right: 5px;
}


.tab__content .timespecific{
    background: #d8d8d8;
    margin-right: 13px;
    padding: 6px 16px;
    border-radius: 5px;
    color: #717171;
}
.tab__content  .timeslide{
    text-align: right;
    padding-top: 9px;
}
.tab__content  .timeslideabove{
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 4px;
}

/* comming soon */
.comingsoon{
    /* background: red; */
    background: black;
    padding-top: 5rem;
    position: relative;
}
.comingsoon .bg{
    /* height: 500px; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-slide{
    padding: 5px;
    
}

/* Contact */
.contact .title{
    font-size: 23px;
    font-weight: 300;
}
.contact .numberphone{
    color: #fbbd61;
    font-size: 32px;
    font-weight: 400;
}

/*footer  */
footer{
    background-color: black;
    color: white;
}



footer .getintouch,.aboutmoviestar,.legalstuff,.connectwithus{
    margin-top: 45px;
}

footer .getintouch p{
    color:#ec7532;
}

footer .getintouch ul{
    list-style: none;
}

footer .getintouch ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
footer .getintouch ul li a:hover{
    color:#ec7532;
}

footer .aboutmoviestar p{
    color:#ec7532;
}

footer .aboutmoviestar ul{
    list-style: none;
}

footer .aboutmoviestar ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
footer .aboutmoviestar ul li a:hover{
    color:#ec7532;
}

footer .legalstuff p{
    color:#ec7532;
}

footer .legalstuff ul{
    list-style: none;
}

footer .legalstuff ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
footer .legalstuff ul li a:hover{
    color:#ec7532;
}

footer .connectwithus p{
    color:#ec7532;
}

footer .connectwithus ul{
    list-style: none;
}

footer .connectwithus ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
footer .connectwithus ul li a i{
    color:rgba(255,255,255,.3);
    margin-right: 19px;
    transition: all 0.5s;
}
footer .connectwithus ul li a:hover i{
    color:#ec7532;
}
footer .connectwithus ul li a:hover{
    color:#ec7532;
}
footer .designcontact{
    border-top: 1px solid white;
    padding-top: 9px;
}
footer .designcontact a{
    text-decoration: none;
    color:white;
    transition: all 0.5s;
}
footer .designcontact a:hover{
    color:#ec7532;
}